<?xml version="1.0"?>
<config>
    <modules>
        <Webbhuset_Geoip>
            <version>0.2.0</version>
        </Webbhuset_Geoip>
    </modules>
    <global>
        <models>
            <webbhusetgeoip>
                <class>Webbhuset_Geoip_Model</class>
            </webbhusetgeoip>
        </models>
        <blocks>
            <webbhusetgeoip>
                <class>Webbhuset_Geoip_Block</class>
            </webbhusetgeoip>
        </blocks>
        <helpers>
            <webbhusetgeoip>
                <class>Webbhuset_Geoip_Helper</class>
            </webbhusetgeoip>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <webbhusetgeoip_change_store>
                        <type>singleton</type>
                        <class>webbhusetgeoip/observer</class>
                        <method>redirectStore</method>
                    </webbhusetgeoip_change_store>
                </observers>
            </controller_action_predispatch>
            <controller_action_noroute>
                <observers>
                    <whgeoip_check_store_code>
                        <type>singleton</type>
                        <class>webbhusetgeoip/observer</class>
                        <method>checkNoRoute</method>
                    </whgeoip_check_store_code>
                </observers>
            </controller_action_noroute>
        </events>
    </frontend>
    <default>
        <webbhusetgeoip>
            <general>
                <exceptions>
<![CDATA[moneybookers
moneybookerspsp
paypal
Dibspw
Dibsfw
klarna
shipping
paypaluk
payex2
bankdebit
factoring
paygate
authorizenet
payexapi
payexautopay
rss
oauth
api
cms/index/noRoute
whklarnacheckout
checkout
]]>
                </exceptions>
            </general>
        </webbhusetgeoip>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <webbhuset_geoip before="Mage_Adminhtml">Webbhuset_Geoip_Adminhtml</webbhuset_geoip>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <webbhusetgeoip>
                    <file>webbhuset/geoip.xml</file>
                </webbhusetgeoip>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <geoip_update>
                <schedule><cron_expr>0 0 8 * *</cron_expr></schedule>
                <run><model>webbhusetgeoip/cron::run</model></run>
            </geoip_update>
        </jobs>
    </crontab>
</config>
